<div class="footer">
  <div class="container">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
    <ul>
      <li><a href="mailto:soyehuza@gmail.com"><img src="#"></a></li>
      <li><a href="https://www.facebook.com/suhaiy"><img src="#"></a></li>
      <li><a href="https://twitter.com/suhaiyehuza"><img src="#"></a></li>
      <li class="resume"><a href="#">Resume</a></li>
    </ul>
    <p>Murmur Alley ©</p>
  </div>
</div>