<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Education</span>
			<li><a href="#">Art</a></li>
			<li><a href="#">Biology</a></li>
			<li><a href="#">Chemistry</a></li>
			<li><a href="#">Mathematics</a></li>
			<li><a href="#">Physics</a></li>
			<li><a href="#">History</a></li>
			<li><a href="#">Dance</a></li>
			<li><a href="#">Music</a></li>
			<li><a href="#">Anthropology</a></li>
			<li><a href="#">Psychology</a></li>
			<li><a href="#">Religion</a></li>
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>