<section class="main-content group">
	<section class="main-story col col-2-3">
			<section class="col col-1-3">
				<a href="#"><h1>Lorem ipsum dolor sit amet, consectetur</h1></a>
				<p class="byline">NULLAM A SUSCIPIT SEM.</p>
				<ul>
					<li>Phasellus convallis semper turpis eu mattis. Proin vel consequat nulla. Fusce vulputate lorem erat, ut convallis turpis rutrum vitae. Donec in erat sem. Praesent mi nulla, vestibulum sed pulvinar vel, porta at massa.</li>
					<li>Curabitur tortor lacus, consectetur ut maximus sollicitudin, tristique sed dui. Duis sodales nunc a malesuada malesuada. Nulla tincidunt vehicula felis, posuere semper elit tempor a. Pellentesque sem enim, viverra vitae ante ut, commodo convallis lacus.</li>
				</ul>
				<a href="#" class="comments"><i class="fa fa-message"></i>6453 Comments</a>
			</section>
			<section class="col col-2-3">
				<div class="my-video">
					<%# <video width="100%" height="230" controls>
						<source src="http://player.vimeo.com/video/226678225" type="video/mp4">
					</video> %>
					<iframe src="https://player.vimeo.com/video/226678225" width="100%" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
					</iframe>
				</div>
				<p>Cuidado: Aenean quis imperdiet lacus tempor metus.</p>
				<article>
					<hr>
					<a href="#"><header>Aliquam erat volutpat.</header></a>
					<p class="byline">FUSCE NEC VIVERA VELIT.</p>
					<p>Nunc ullamcorper magna ante, eu rhoncus lorem mattis ut. Phasellus lacinia, arcu ac tempor volutpat, metus tellus facilisis dui, maximus aliquam orci eros ac odio.</p>
				</article>
				<article>
					<hr>
					<a href="#"><header>Sed Vivera</header></a>
					<p class="byline">INTEGER EGESTAS TINCUDANT EST EU TRISTIQUE.</p>
					<p>Pellentesque pulvinar fringilla ligula, pellentesque volutpat mi. Suspendisse faucibus volutpat felis non blandit. Integer egestas tincidunt est eu tristique.</p>
				</article>
			</section>
				<hr class="hr-top">
				<hr class="hr-bottom">
	</section>
	<section class="col col-1-3">
		<section class="opinion cf">
				<a href="#"><h2>El Opinion de Paginas</h2></a>
			<section class="col col-1-2">
						<p class="kicker">Op-Ed Contributor</p>
						<a href="#"><header>How did the Incans Fly?</header></a>
						<p>
							Sed viverra tempus ante eu faucibus. Morbi venenatis, tellus eu lacinia dapibus, mi augue rhoncus nisl, eget pulvinar dui tellus ut dui. Suspendisse fringilla tempor dictum. 
						</p>
					<ul class="opinions-list">
						<li>Zidane: Aenean metus magna</li>
						<li>Messi: Nulla auctor turpis massa</li>
						<li>Ronaldo: Vestibulum ante ipsum primis</li>
						<li>Pele: Proin suscipit ut orci non posuere.</li>
						<li>Eto'o: Fusce nec viverra velit.</li>
						<li>Ronaldinho: Mauris viverra pulvinar turpis</li>
						<li>Beckham: Pellentesque habitant morbi tristique</li>
					</ul>
			</section>
			<section class="col col-1-2">
				<p class="kicker">Operacions</p>
				<a href="#"><header>Curabitur id mauris eget nibh tincidunt elementum</header></a>
				<p class="byline">AOL PRESHRTYSH FHSJJ</p>
				<p>Sed id urna odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum tempus aliquet imperdiet. Maecenas ut neque id mi ornare varius. </p>
				<div class="thumbnail">
					<img src="/assets/image2.jpg" alt="murmur Alley image">
				</div>
			</section>
			</section>
			<section class="opinion-sign-up">
				<a href="#"><header>Opinion Today, in your Inbox</header></a>
				<p>Each weekday, get thoughT-provoking commentary from our columnists and contributors.</p>
				<form>
					<section class="input-wrapper">
						<input type="text" placeholder="Get the Opinion newsletter by email">
						<button class="newsletter">Sign Up</button>
					</section>
				</form>
				<center>
					<small>Curabitur vehicula tortor at nunc mollis, posuere tincidunt enim commodo</small>
				</center>
		</section>
				<hr class="hr-top">
				<hr class="hr-bottom">
	</section>
		<section id="overlay" class="overlay hidden"></section>
</section>