<section class="main-content group">
	<section class="main-story col col-2-3">
			<section class="col col-1-3">
				<a href="#"><h1>Tupac Spotted on a yacht off Sardinia</h1></a>
				<p class="byline">Nicki - Rihanna beef boiling up.</p>
				<ul>
					<li>Phasellus convallis semper turpis eu mattis. Proin vel consequat nulla. Fusce vulputate lorem erat, ut convallis turpis rutrum vitae. Donec in erat sem. Praesent mi nulla, vestibulum sed pulvinar vel, porta at massa.</li>
					<div class="thumbnail">
					<img src="http://res.cloudinary.com/swy/image/upload/v1499750450/images/pexels-photo-226294.jpg" alt="murmur Alley image">
					</div>
					<li>Curabitur tortor lacus, consectetur ut maximus sollicitudin, tristique sed dui. Duis sodales nunc a malesuada malesuada. Nulla tincidunt vehicula felis, posuere semper elit tempor a. Pellentesque sem enim, viverra vitae ante ut, commodo convallis lacus.</li>
				</ul>
				<a href="#" class="comments"><i class="fa fa-message"></i>6453 Comments</a>
			</section>
			<section class="col col-2-3">
				<div class="my-video">
					<%# <video width="100%" height="230" controls>
						<source src="http://player.vimeo.com/video/226678225" type="video/mp4">
					</video> %>
					<iframe src="https://player.vimeo.com/video/226678225" width="100%" height="230" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
					</iframe>
				</div>
				<p>Credit: Ice and Sky Educational videos.</p>
				<article>
					<hr>
					<a href="#"><header>Miracle at Timbuktu: Oldest living human is a 172yr old blind bard farming on the banks of the River Niger.</header></a>
					<p class="byline">CRIMEA RETURNS TO UKRAINE IN HISTORIC DEAL.</p>
					<p>Nunc ullamcorper magna ante, eu rhoncus lorem mattis ut. Phasellus lacinia, arcu ac tempor volutpat, metus tellus facilisis dui, maximus aliquam orci eros ac odio.</p>
				</article>
				<article>
					<hr>
					<a href="#"><header>MurmurAlley residents excited about landed Asteroid</header></a>
					<p class="byline">Idaho Becomes the first state in the Union to leave. Welcome to the Rep of Idaho.</p>
					<p>Pellentesque pulvinar fringilla ligula, pellentesque volutpat mi. Suspendisse faucibus volutpat felis non blandit. Integer egestas tincidunt est eu tristique.</p>
					<div class="thumbnail">
					<img src="http://res.cloudinary.com/swy/image/upload/v1499750530/images/pexels-photo-403005.jpg" alt="murmur Alley image">
					</div>
				</article>
			</section>
				<hr class="hr-top">
				<hr class="hr-bottom">
	</section>
	<section class="col col-1-3">
		<section class="opinion cf">
				<a href="#"><h2>Opinion Pages</h2></a>
			<section class="col col-1-2">
						<p class="kicker">Op-Ed Contributor</p>
						<a href="#"><header>Did the Incas Fly?</header></a>
						<p>
							Sed viverra tempus ante eu faucibus. Morbi venenatis, tellus eu lacinia dapibus, mi augue rhoncus nisl, eget pulvinar dui tellus ut dui. Suspendisse fringilla tempor dictum. 
						</p>
					<ul class="opinions-list">
						<li>Merkel: Europe must unite against the Brexit</li>
						<li>Messi: Ronaldo doesn't deserve the Ballon D'Or</li>
						<li>Obama: I am relocating to Nairobi</li>
						<li>Modi: The dawn of India as the next superpower</li>
						<li>Bourdain: Food for the Martians</li>
						<li>Gov. Chipototle: MurmurAlley should eat more pinto beans</li>
						<li>Jolie: Brad was such a great a husband</li>
					</ul>
			</section>
			<section class="col col-1-2">
				<p class="kicker">Experiments</p>
				<a href="#"><header>Education: iTeacher exceeds expectations</header></a>
				<p class="byline">Iceland on the cusp of utopia?</p>
				<p>Sed id urna odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum tempus aliquet imperdiet. Maecenas ut neque id mi ornare varius. </p>
				<div class="thumbnail">
					<img src="http://res.cloudinary.com/swy/image/upload/v1499749887/images/001-desk-elements-escene-vector-flat-objects-design-studio.jpg" alt="murmur Alley image">
				</div>
			</section>
			</section>
			<section class="opinion-sign-up">
				<a href="#"><header>Opinion Today, in your Inbox</header></a>
				<p>Sign up for the most ridiculous fictitious news available from our amateur columnist and contributors.</p>
				<br />
				<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum tempus aliquet imperdiet. Maecenas ut neque id mi ornare varius. Sed id urna odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum tempus aliquet imperdiet. Maecenas ut neque id mi ornare varius. Sed id urna odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum tempus aliquet imperdiet.</p>
				<form>
					<section class="input-wrapper">
						<input type="text" placeholder="Get the Opinion newsletter by email">
						<button class="newsletter">Sign Up</button>
					</section>
				</form>
				<center>
					<small>Curabitur vehicula tortor at nunc mollis, posuere tincidunt enim commodo</small>
				</center>
		</section>
				<hr class="hr-top">
				<hr class="hr-bottom">
	</section>
		<section id="overlay" class="overlay hidden"></section>
</section>