<header class="masthead">
	<nav class="language-nav">
		<ul>
			<li><a href="#">Art</a></li>
			<li><a href="#">Geography</a></li>
			<li><a href="#">History</a></li>
			<li><a href="#">Chemistry</a></li>
		</ul>
	</nav>
	<%# <img class="logo" src="assets/image1.jpg" alt="Murmur Alley"> %>
	<div class="logo1">
	<p class="logo2">The Murmur Alley Digest</p>
	</div>
	<ul class="masthead-links">
		<li>
			<time id='today'>Tuesday, July 18, 2017</time>
		</li>
		<li>
			<i class="fa fa-newspaper-o"></i><a href="#">Today’s Paper</a>
		</li>
		<li>
			<i class="fa fa-video-camera"></i><a href="#">Video</a>
		</li>
		<li>
			<button id='weather1'>64°F</button>
			<button id='weather2'>Drizzly</button>
		</li>
		<li>
			<button>AAO <strong>+98.9%</strong></button>
		</li>
	</ul>
</header>