<nav class="sections-nav">
	<ul>
		<li>Murmur City</li>
		<li>San Francisco</li>
		<li>United States</li>
		<li>North America</li>
		<li>World</li>
		<li>Tech News</li>
		<li>Politics</li>
		<li>Education</li>
		<li>Sports</li>
		<li>Society</li>
		<li><a href="#">Other</a></li>
	</ul>
</nav>
<%= render "partials/search_modal" %>