<nav id="sections-sidebar" class="sections-sidebar">
	<ul>
		<li>World</li>
		<li></li>
		<li class="dropdown">Africa
			<ul>
				<li class="subheader">The Ancient Continent</li>
				<li>West Africa</li>
				<li>North Africa</li>
				<li>Central Africa</li>
				<li>East Africa</li>
				<li>Southern Africa</li>
				<li>The Congo Basin</li>
				<li>The Sahara</li>
				<li>Madagascar</li>
			</ul>			
		</li>
		<li></li>
		<li class="dropdown">Asia
			<ul>
				<li class="subheader">The Great Continent</li>
				<li>The Far East</li>
				<li>The Middle East</li>
				<li>India</li>
				<li>China</li>
				<li>Sri Lanka</li>
			</ul>			
		</li>
		<li></li>
		<li class="dropdown">Australia
			<ul>
				<li class="subheader">Land of The Roooos</li>
				<li>Queensland</li>
				<li>New South Wales</li>
				<li>South Australia</li>
				<li>Western Australia</li>
				<li>Tasmania</li>
				<li>Victoria</li>
				<li>Australian Capital Territory</li>
				<li>Northern Territory</li>
			</ul>			
		</li>
		<li></li>
		<li class="dropdown">Europe
			<ul>
				<li class="subheader">Soccer Maniacs</li>
				<li>Scandinavia</li>
				<li>Eastern Europe</li>
				<li>Russia</li>
				<li>Western Europe</li>
				<li>Southern Europe</li>
				<li>United Kingdom</li>
				<li>The Balkans and Mediterranean</li>
				<li>Central Europe</li>
				<li>Iberia, Azores, and The Canaries</li>
				<li>Greenland</li>
				<li>Iceland</li>
				<li>Greenland</li>
				<li>Siberia</li>
			</ul>			
		</li>
		<li></li>
		<li class="dropdown">North America
			<ul>
				<li class="subheader">The Land of Columbus</li>
				<li>Canada</li>
				<li>United States</li>
				<li>Mexico</li>
				<li>Central America</li>
				<li>The Caribbean</li>
			</ul>			
		</li>
		<li></li>
		<li class="dropdown">South America
			<ul>
				<li class="subheader">The Amazonas</li>
				<li>Brazil</li>
				<li>Argentina</li>
				<li>The Bolivarian Republics</li>
				<li>Chile</li>
				<li>Uruguay</li>
				<li>Paraguay</li>
				<li>The Guyanas</li>
			</ul>			
		</li>
		<li></li>
		<li class="dropdown">The Pacific Islands
			<ul>
				<li class="subheader">Oceaaaaaaaaanos</li>
				<li>New Guinea</li>
				<li>Tuvalu</li>
				<li>Kiribati</li>
				<li>Tahiti</li>
				<li>Fiji</li>
				<li>Nauru</li>
				<li>The Solomon Islands</li>
				<li>Samoa</li>
				<li>Tonga</li>
				<li>Vanuatu</li>
				<li>The Marshall Islands</li>
				<li>Micronesia</li>
			</ul>
		</li>
	</ul>
</nav>